men/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */


.menu{
  z-index: 100;
}

.table-color-1{
  background-color: #f39c12;
  color: white;
}

.table-color-2{
  background-color: #3498db;
  color: white;
}

.table-color-3{
  background-color: #bdc3c7;
  color: gray;
}

.table-color-4{
  background-color: #9b59b6;
  color: white;
}

.table-color-5{
  background-color: #1abc9c;
  color: white;
}

.layout{
  margin: 0px 8%;
}

.timeline {
  list-style: none;
  padding: 20px 20px 20px;
  position: relative;
}
.timeline:before {
  top: 50px;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eeeeee;
  left: 50%;
  margin-left: -1.5px;
}
.timeline > li {
  margin-bottom: 20px;
  position: relative;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li > .timeline-panel {
  width: 46%;
  float: left;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  padding: 20px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}
.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}
.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}
.timeline > li > .timeline-badge {
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 50%;
  margin-left: -25px;
  background-color: #999999;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline-badge.primary {
  background-color: #2e6da4 !important;
}
.timeline-badge.success {
  background-color: #3f903f !important;
}
.timeline-badge.warning {
  background-color: #f0ad4e !important;
}
.timeline-badge.danger {
  background-color: #d9534f !important;
}
.timeline-badge.info {
  background-color: #5bc0de !important;
}
.timeline-title {
  margin-top: 0;
  color: inherit;
}
.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}
.timeline-body > p + p {
  margin-top: 5px;
}

.report_menu{
  z-index: 100;
}

.report_timeline{
  margin-left: -30%;
  z-index: 0;
}

.report_timeline::before{
}

.report_timeline_bar::before{
  display: none;
}

#tutor_table{
  width: 250px;
  height: 350px;
  margin: 0px 0px 15px 15px;
  display: inline-block;
  border-top: solid 1px rgb(250,250,250);
  border-right: solid 1px rgb(235,235,235);
  border-left: solid 1px rgb(245,245,245);
  border-bottom: solid 1px rgb(230,230,230);
  background-color: #fff;
  border-radius: 6px;
  -moz-transition-property: box-shadow;
  -webkit-transition-property: box-shadow;
  -o-transition-property: box-shadow;
  -ms-transition-property: box-shadow;
}

#tutor_table:hover{
  box-shadow: 2px 5px 20px #dfdfdf;
}
.tutor_img{
  width: 140px;
  height: 140px;
  margin: 15px auto 15px;
  overflow: hidden;
  border-radius: 100px;
  background-color: rgba(32, 174, 229, 0.8);
}

.tutor_img img{
  width: 100%;
}

.exist_free_time{
  text-align: left;
}
#tutor_profile{
  padding: 2px 15px 2px;
}
#tutor_profile a{
  color: rgb(72,77,79);
}
#tutor_profile a:hover{
}
#tutor_profile p{
  margin: 0px;
  font-size: 13px;
}
#tutor_profile .ft_exist{
  color: rgb(5,170,5);
}
#tutor_profile .ft_notExist{
  color: rgb(232,18,6);
}
#tutor_profile .ftime{
  letter-spacing: 1px;
}
#tutor_profile h5{
  margin: 0px 0px 5px;
  color: #8d8d8d;
  font-size: 12px;
}

.panel-comment-tutor{
  width: 80%;
  float: right;
}
.panel-comment-user{
  width: 80%;
  float: left;
}

.address-field-row{
  padding: 5px;
  font-size: 10px
}



