<div class="container-fluid">
	<div class="row">
		<div class="menu col-md-3">
			<%= render 'home/menu' %>
		</div>
		<div class="col-md-9">
			<h3>【<%= Date.today %>】新しい記録を作成する</h3>
			<%= render 'form'%>
		</div>
	</div>
</div>